<div class="form">
    <div class="form-group">
        <div class="form-label">Item name</div>
        <div class="form-input">
            <input type="text" pInputText />
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">Exclude tax</div>
        <div class="form-input">
            <p-inputSwitch></p-inputSwitch>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">Pack size</div>
        <div class="form-input">
            <p-dropdown [options]="list" placeholder="Select" optionLabel="name"></p-dropdown>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">Quantity</div>
        <div class="form-input">
            <input type="text" pInputText />
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">Unit</div>
        <div class="form-input">
            <p-dropdown [options]="list" placeholder="Select" optionLabel="name"></p-dropdown>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">Rate</div>
        <div class="form-input">
            <input type="text" pInputText />
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">Discount(%)</div>
        <div class="form-input">
            <input type="text" pInputText />
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">Tax group</div>
        <div class="form-input">
            <p-dropdown [options]="list" placeholder="Select" optionLabel="name"></p-dropdown>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">Tax amount</div>
        <div class="form-input">
            <input type="text" pInputText />
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">Total amount</div>
        <div class="form-input">
            <input type="text" pInputText />
        </div>
    </div>
</div>